<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>Discovery</servlet-name>
    <servlet-class>org.open311.http.Discovery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Discovery</servlet-name>
    <url-pattern>/discovery.xml</url-pattern>
    <url-pattern>/discovery.json</url-pattern>
    <url-pattern>/discovery.html</url-pattern>
    <url-pattern>/discovery.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetServiceList</servlet-name>
    <servlet-class>org.open311.http.GetServiceList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServiceList</servlet-name>
    <url-pattern>/services.xml</url-pattern>
    <url-pattern>/services.json</url-pattern>
    <url-pattern>/services.html</url-pattern>
    <url-pattern>/services.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Formatter</servlet-name>
    <servlet-class>org.open311.http.Formatter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formatter</servlet-name>
    <url-pattern>/FORMATTER</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetServiceDefinition</servlet-name>
    <servlet-class>org.open311.http.GetServiceDefinition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServiceDefinition</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetServiceRequest</servlet-name>
    <servlet-class>org.open311.http.GetServiceRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServiceRequest</servlet-name>
    <url-pattern>/requests/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServiceRequest</display-name>
    <servlet-name>PostServiceRequest</servlet-name>
    <servlet-class>org.open311.http.PostServiceRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServiceRequest</servlet-name>
    <url-pattern>/Post</url-pattern>
    <url-pattern>/requests.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServiceRequests</display-name>
    <servlet-name>GetServiceRequests</servlet-name>
    <servlet-class>org.open311.http.GetServiceRequests</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>GetServiceRequests</servlet-name>
    <url-pattern>/requests.xml</url-pattern>
    <url-pattern>/requests.json</url-pattern>
    <url-pattern>/requests.html</url-pattern>
    <url-pattern>/requests.htm</url-pattern>
    <url-pattern>/GetRequests</url-pattern>
  </servlet-mapping>
</web-app>